version: "3.8"

services:
  user-service:
    build:
      context: ./user
      dockerfile: Dockerfile.user
    container_name: user-service
    restart: always
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - PORT=8080
    networks:
      - demo_overlay

  nginx:
    build: ./nginx
    container_name: nginx-gateway
    restart: always
    ports:
      - "80:80"
    environment:
      - USER_SERVICE_HOST=user-service
      - USER_SERVICE_PORT=8080
      - POST_SERVICE_HOST=post-service
      - POST_SERVICE_PORT=8081
    depends_on:
      - user-service
    networks:
      - demo_overlay

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor-manager
    restart: always
    ports:
      - "8082:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /cgroup:/cgroup:ro
    environment:
      - CADVISOR_USE_HOSTNAME_LABEL=true
    networks:
      - demo_overlay

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - cadvisor
    networks:
      - demo_overlay

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - demo_overlay

networks:
  demo_overlay:
    external: true
